<!DOCTYPE html>
<html>
  <head>
    <title>BuzzFeed Haiku Generator</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        body {
          text-align: center;
        }
        div.haiku pre {
          font-size: large;
        }
        div.footer {
          font-size: small;
          margin-top: 4rem;
        }
    </style>
  </head>
  <body>
    <h2>BuzzFeed Haiku Generator</h2>
    <div class="haiku">
      <pre>{{haiku}}</pre>
      <form action="">
        <input type="submit" value="Generate">
      </form>
    </div>
    <div class="footer">
      <p>
        Made by Tyler Hallada using 
        <a href="https://www.python.org/">Python</a>, 
        <a href="http://www.nltk.org/">NLTK</a>, 
        <a href="http://flask.pocoo.org/">Flask</a>, 
        <a href="https://pypi.python.org/pypi/inflect">inflect</a>, 
        <a href="http://eayd.in/?p=232">sylco</a>, and 
        <a href="https://www.reddit.com/r/datasets/comments/3es1s4/33k_nytimes_and_18k_buzzfeed_facebook_posts_and_a/">BuzzFeed Facebook Posts</a>
        <br>
        Code at <a href="https://github.com/thallada/nlp">Github</a> and <a href="http://git.hallada.net/nlp/">cgit</a>
      </p>
    </div>
  </body>
</html>
