<!DOCTYPE html>
<html>
  <head>
    <title>Buzzfeed Haiku Generator</title>
  </head>
  <body>
    <h1>Buzzfeed Haiku Generator</h1>
    <div class="haiku">
      <pre>{{haiku}}</pre>
      <form action="">
        <input type="submit" value="Generate">
      </form>
    </div>
    <div class="footer">
      <p>
        Made by Tyler Hallada using 
        <a href="https://www.python.org/">Python</a>, 
        <a href="http://www.nltk.org/">NLTK</a>, 
        <a href="http://flask.pocoo.org/">Flask</a>, 
        <a href="https://pypi.python.org/pypi/inflect">inflect</a>, 
        <a href="http://eayd.in/?p=232">sylco</a>, and 
        <a href="https://www.reddit.com/r/datasets/comments/3es1s4/33k_nytimes_and_18k_buzzfeed_facebook_posts_and_a/">BuzzFeed Facebook Posts</a>
      </p>
    </div>
  </body>
</html>
